<hr />
<p>
  {{ if .Site.Params.showHomeMenuItem }}
  <a href="{{ .Site.BaseURL }}">home</a>
  &#183; {{ end }} {{ $menuItems := (sort .Site.Params.mainMenu "weight" "asc")
  }} {{ range $index, $element := $menuItems }}
  <a href="{{.link}}">{{$element.text}}</a>
  {{ if (lt $index (add (len $menuItems) -1)) }} - {{ end }}

  <!-- <p> -->
  <!--     <a href="{{.Site.BaseURL}}"> -->
  <!--         {{ .Site.Params.homepage }} -->
  <!--     </a> -->
  <!-- </p> -->
  {{ end }}
</p>
<br />
{{ .Site.Params.footerText | markdownify }}
