/* restyle the link image */
#content img.bibbase_icon {
  display: inline-block;
  width: 10px;
  vertical-align: middle;
  margin: 0;
  margin-right: 5px;
  filter: grayscale(1);
}

/* remove links to bibbase */
.bibbase.bibbase_page.link,
#bibbase > div:first-of-type {
  display: none;
}

.bibbase.bibtex.link {
  margin-left: -10px;
}

/* restyle menus */
#bibbase_header .nav a {
  color: auto !important;
}

#bibbase_header a {
  border: none;
}

#bibbase_header li {
  padding-left: 0;
}

#bibbase_header ul.nav a.dropdown-toggle {
  color: black;
  opacity: 1;
}

#bibbase_header ul.dropdown-menu a {
  color: black;
  opacity: 1;
}

#content div.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}

#content div.navbar-form input {
  vertical-align: middle;
}

.nav > li > a:focus {
  background-color: initial;
}

#bibbase_header .dropdown:hover .dropdown-toggle,
#bibbase_header ul.dropdown-menu a:hover,
#bibbase_header .dropdown-menu > li:hover,
#bibbase_header .dropdown-toggle:hover .caret {
  background: #000000;
  color: white;
}

.nav .dropdown-toggle .caret {
  border-top-color: black;
  border-bottom-color: black;
}

#content ul {
  padding-left: 0;
}

/* links on a new line */
.bibbase_paper_content:before {
  content: "\A";
  white-space: pre;
}

/* reordering sections */

#bibbase_body {
  display: flex;
  flex-direction: column;
}

#bibbase_body > div {
  order: 10;
}

#bibbase_body #group_unpublished {
  order: 0;
}

#bibbase_body #group_article {
  order: 1;
}

#bibbase_body #group_inproceedings {
  order: 2;
}

#bibbase_body #group_thesis {
  order: 3;
}

#bibbase_body #group_misc {
  order: 4;
}

/* Adjusting spaces of titles */
#content div {
  width: unset;
}

.bibbase_group {
  float: unset;
  width: 100%;
}

.bibbase_group_body {
  margin-left: 5%;
  margin-right: 5%;
}

/* Renaming Sections */

.bibbase_group_head_icon {
  display: unset;
}

#group_article div.bibbase_group i + span {
  display: none;
}
#group_inproceedings div.bibbase_group i + span {
  display: none;
}
#group_thesis div.bibbase_group i + span {
  display: none;
}
#group_techreport div.bibbase_group i + span {
  display: none;
}
#group_unpublished div.bibbase_group i + span {
  display: none;
}
#group_incollection div.bibbase_group i + span {
  display: none;
}
#group_misc div.bibbase_group i + span {
  display: none;
}
#group_Conference div.bibbase_group i + span {
  display: none;
}

#group_article div.bibbase_group i:after {
  content: " Journal Articles";
}
#group_inproceedings div.bibbase_group i:after {
  content: " Conference and Workshop Publications";
}
#group_thesis div.bibbase_group i:after {
  content: " Thesis";
}
#group_techreport div.bibbase_group i:after {
  content: " Technical Report";
}
#group_unpublished div.bibbase_group i:after {
  content: " Unpublished";
}
#group_incollection div.bibbase_group i:after {
  content: " In Collection";
}
#group_misc div.bibbase_group i:after {
  content: " Other";
}
#group_Conference div.bibbase_group i:after {
  content: " Oral";
}

/* Restyiling bibtex and abstract */

.well.well-small.bibbase {
  padding: 0px;
  background-color: initial;
  border: none;
  color: black;
}

#content .well.well-small.bibbase pre {
  font-size: 0.75rem;
  line-height: 0.9rem;
  margin-bottom: 0px;
  background-color: initial;
}
