@media screen and (orientation: landscape) {
  ul {
    max-width: 60%;
  }
}

ul {
  display: inline-block;
  text-align: left;
}

img {
  max-height: 350px;
  max-width: 80%;
}

.markdown img.bibbase_icon {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 14px;
    vertical-align: middle;
}
