@media screen and (orientation: landscape) {
  ul {
    max-width: 60%;
  }
}

@media screen and (orientation: portrait) {
  h1.bold-title {
    font-size: 2rem;
  }
}

ul {
  display: inline-block;
  text-align: left;
}

img {
  max-height: 350px;
  max-width: 80%;
}

.markdown img.bibbase_icon {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 14px;
    vertical-align: middle;
}

.markdown hr {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1.bold-title {
  font-size: 2rem;
}

.subtitle.is-3 {
  font-size: 2rem;
}

.subtitle img {
  max-width: 100%;
  max-height: none;
}

.navbar-burger, a {
  color: #4f4f4f;
}

a.navbar-item:hover, .markdown a:hover, a:hover {
  color: #000000;
}

.section {
  padding-top: 0rem;
}
