.big-link:hover {
  font-weight: bold;
}

a:hover {
  background-color: #ffffff24;
}

#splash {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-height: 684px), (max-width: 300px) {
    #splash {
        display: block;
        height: 100%;
    }
    
}

h1, h2, h3 {
    opacity: 1;
}

.big-link {
    text-align: right;
}
.wrap {
    margin-top: 0;
}

details p {
    display: block;
}

summary:focus, a:focus {
    outline: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

/* slightly compress content paragraphs */
#content p, #content li, #content blockquote {
    line-height: 1.6;
    letter-spacing: 1.2px;
    margon-bottom: 10px;
    margin-top: 5px;
}

/* better looking quotations */
#content blockquote {
  color: unset;
  background-color: unset;
  filter: sepia();
}

/* better looking inline code */
#content code {
    font-size: unset;
    padding: unset;
    border-radius: unset;
}

/* an awesome rectangle around the content area */
/* #content { */
/*     border: 1px solid #cccccc2b; */
/*     padding: 0.5rem; */
/* } */



/**************************************************
********************* colors **********************
***************************************************/

/* these colors are overwritten by the theme which takes one color at random
 * for the background. If you disable this feature from the config file, the
 * following background will be used */
html, body {
  background-color: #00594d;
}

/* html, body { */
/*     background-color: white; */
/*     color: #39424e; */
/* } */

/* a { */
/*     color: #39424e */
/* } */

/* a:hover { */
/*     color: #ccc; */
/* } */

/* #content pre { */
/*     background-color: whitesmoke; */
/* } */

/* #content p { */
/*     opacity: 1; */
/* } */

/* p { */
/*     opacity: 1; */
/* } */

/* li { */
/*     opacity: 1; */
/* } */

/**************************************************/
